@tailwind utilities;

/* Imported Fonts */

.roboto-sigma> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Body Elements */

body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.HomePage
{
  min-height:100vh;
  background-image: linear-gradient(135deg, #cd1c18 0%, #66023c 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Home Page Header */

.header-header {
  font-family: "Bungee", sans-serif;
  letter-spacing: 15px;
  color: #EDF2F4;
  margin-top: 0;
  padding-top: 16px;
  text-align: center;
}

/* Home Page Cards */

 .home-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 300px); 
  grid-template-rows: repeat(2, 300px);     
  justify-content: center;                  
  gap: 20px;                                
  padding: 16px;                            
}

.home-card-container {
  background-color: rgba(255, 255, 255, 0.934);
  overflow: hidden;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.home-cards-container a {
  text-decoration: none;
}

.home-card-container:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image
{
  padding-top: 10px;
  width: 180px;
  height: 180px;
}

.headerText
{
  color: rgb(34, 33, 33);
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  
}

/* Calendar Page */

